<!-- header -->
<div class="agileits_header">
    <div class="container">
        <div class="w3l_offers">
            <p>Welcome {{personName}} </p>
        </div>
        <div class="agile-login">

            <ul *ngIf="!loginStatus">
                <li><a routerLink="signup" (click)="setTitle('Signup')">Join</a></li>
                <li><a routerLink="login" (click)="setTitle('Login')"> Login</a></li>
                <li><a routerLink="contactus" (click)="setTitle('Login')"> Contact us</a></li>
            </ul>

            <ul *ngIf="loginStatus">
                <li><a routerLink="/orderhistory" (click)="setTitle('Order History')">Orders</a></li>
                <li><a routerLink="/changepswd" (click)="setTitle('Login')">Settings</a></li>
                <li><a routerLink="/logout" (click)="setTitle('Signup')">logout</a></li>

            </ul>
        </div>

        <div class="product_list_header" >
                <form action="#" method="post" class="last" >
                    <button class="w3view-cart" type="submit" name="submit" value="" routerLink="/showcart" *ngIf="loginStatus">
                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                    </button>
                    <button class="w3view-cart" type="submit" name="submit" value="" routerLink="/showcat" *ngIf="!loginStatus">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </button>
                </form>
        </div>

        <div class="clearfix"> </div>
    </div>
</div>

<div class="logo_products">
    <div class="container">
    <div class="w3ls_logo_products_left1">
        </div>
        <div class="w3ls_logo_products_left">
          <h1><a routerLink="/">Universal Store</a></h1>
      </div>
        <div class="w3l_search">
            <form action="#" method="post">
                <input type="search" name="Search" placeholder="Search for a Product..." required="" [(ngModel)]="stxt">
                <button type="submit" name="btn" (click)="onsearch()" class="btn btn-default search" aria-label="Left Align">
                    <i class="fa fa-search" aria-hidden="true"> </i>
                </button>
                <div class="clearfix"></div>
            </form>
        </div>

        <div class="clearfix"> </div>
    </div>
</div>
<!-- //header -->

<div *ngIf="admin_header">
<app-adminheader></app-adminheader>
</div>

<div *ngIf="!admin_header">
    <app-normalheader></app-normalheader>
</div>

