<!-- //footer -->
<div class="footer">
    <div class="container">
        <div class="w3_footer_grids">
            <div class="col-md-4 w3_footer_grid">
                <h5>Contact</h5>

                <ul class="address">
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address</li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:shubamdadhwal@gmail.com">example@gmail.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+3800671111111</li>
                </ul>
            </div>
            <div class="col-md-4 w3_footer_grid">
                <h5>Information</h5>
                <ul class="info">
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a routerLink="/contactus">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 w3_footer_grid">
                <h5>Profile</h5>
                <ul class="info">
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a routerLink="/login">Login</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a routerLink="/signup">Create Account</a></li>
                </ul>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="footer-copy">

        <div class="container">
            <p>© 2023. All rights reserved</p>
        </div>
    </div>

</div>
<!-- //footer -->
