<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Admin Panel</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- about -->
<div class="about">
    <div class="container">
        <a routerLink="/memlist">Members</a> <br><br>
        <a routerLink="/searchuser">Search a member</a> <br><br>
        <a routerLink="/managecat">Manage Category</a> <br><br>
        <a routerLink="/managescat">Manage Sub Category</a> <br><br>
        <a routerLink="/manageprod">Manage Products</a> <br><br>
        <!-- <a routerLink="/addadmin">Add more Admins</a> <br><br> -->
        <a routerLink="/allorders">List of Orders</a> <br><br>
    </div>
</div>
