<!-- navigation -->
<div class="navigation-agileits">
    <div class="container">
        <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header nav_2">
                            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div> 
                        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                            <ul class="nav navbar-nav">
                                <li class="active"><a routerLink="/adminpanel" class="act">Home</a></li>	
                                <!-- Mega Menu -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage<b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="multi-gd-img">
                                                <ul class="multi-column-dropdown">
                                                    <!-- <h6>All Groceries</h6> -->
                                                    <li><a routerLink="/managecat">Category</a></li>
                                                    <li><a routerLink="/managescat">Sub Category</a></li>
                                                    <li><a routerLink="/manageprod">Product</a></li>
                    
                                                </ul>
                                            </div>	
                                            
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Members<b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="row">
                                            <div class="multi-gd-img">
                                                <ul class="multi-column-dropdown">
                                                    <!-- <h6>All Household</h6> -->
                                                    <li><a routerLink="/memlist">Members</a></li>
                                                    <li><a routerLink="/searchuser">Search Member</a></li>
                                                </ul>
                                            </div> 
                                        </div>
                                    </ul>
                                </li>
                                <li><a routerLink="/allorders">Orders</a></li>
                                <li><a routerLink="/addadmin">Add More Admins</a></li>
                            </ul>
                    </div>
            </nav>
        </div>
    </div>
    